body {
    margin: 0;
    font-family: fantasy;
}

/* Header CSS Starts */

.header-container{
    background-color: rgb(1, 30, 53);
    height: 13vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around   ;
    border-bottom: 3px solid #818386;
}

.logo img{
    height: 12vh;
    padding:8px ;
    align-self: center;
}

.nav-bar ul{

    list-style-type: none;
}

.signup{
    background-color: cadetblue;
    color: azure;
    border: 2px  solid tan;
    padding: 10px;
    width: max-content;
    border-radius: 10%;

}

.signup:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: cadetblue;
}
.nav-bar{
    margin-left: 25vw;
}

.nav-bar li{
    display: inline;
    padding: 1em;
}

.nav-bar ul li a{
    text-decoration: none;
    color: aliceblue;
}

.nav-bar ul li a:hover{
    color: yellow;
    border-bottom:1px solid yellow;
}
/* Header CSS Ends  */

.mainBody{
    background-image: url('../images/wall.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 0;
}

.mainBody-mask{
    height: 80vh;
    background-color: rgb(0,0,0,0.4);
    text-align: center; 
}

.mainBody-mask h1{
    padding-top: 25vh;
    margin: 0;
    font-size: 5em;
    color: blanchedalmond;
}

.mainBody-mask h1:hover{
    color: silver;
}


.mainBody-mask a{
    text-decoration: none;
    color: cadetblue;
    background-color: #ffff ;
    padding:5px;
    font-size: 3em;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 1em auto;
}

.mainBody-mask a:hover{
    color: #ffff ;
    background-color: cadetblue;

}

.paper-layout{
        display: flex ;
        align-items: center;
        flex-direction: column;
        background-image: url('../images/walltwo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        margin: 0;
    
    }

.row-house
{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.paper-layout h1
{
    color: rgb(20, 230, 195);
}
.paper-layout h1:hover
{
    color: whitesmoke;
    cursor: pointer;
    margin: 1em auto;
}

.row-house :hover
{
    color: chartreuse;
    cursor: pointer;
}
.house h2
{
    font-size: 1em;
    color: #ffff;
}

.house img{

    height: 200px;
    width: 200px;
    padding: 1em;
}

.house{
    box-shadow: 5px 5px 20px white;
    padding: 2em;
    justify-content: space-around;
}

footer{
    height: 5vh;
    background-color: cadetblue;
    border-top: 2px solid rgb(2, 0, 24);
    text-align: center;
    color: blanchedalmond;
    padding-top: 10px  ;
}

























